_build
_opam
credentials.json

# MacOS file system auxiliary files
.DS_Store

# Vim auxiliary files
*.aux
*.swp
*.swo

# Coq auxiliary files
*.vos
*.vok
*.vo
*.glob

upload/data/alternatives/**
upload/data/downloads/**
upload/data/output/**
upload/structure/**
data/**